################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWGOH Prereqs/bin/Debug/netcoreapp2.1/config.json
*.targets
/SWGOH Prereqs/obj/SWGOH Prereqs.csproj.nuget.g.props
/SWGOH Prereqs/obj/project.assets.json
/SWGOH Prereqs/obj/SWGOH Prereqs.csproj.nuget.cache
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.pdb
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.dll
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.csprojAssemblyReference.cache
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.csproj.FileListAbsolute.txt
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.csproj.CoreCompileInputs.cache
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.assets.cache
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.AssemblyInfoInputs.cache
/SWGOH Prereqs/obj/Debug/netcoreapp2.1/SWGOH Prereqs.AssemblyInfo.cs
/SWGOH Prereqs/obj/Debug/netcoreapp2.1
/SWGOH Prereqs/bin/Debug/netcoreapp2.1/SWGOH Prereqs.runtimeconfig.json
/SWGOH Prereqs/bin/Debug/netcoreapp2.1/SWGOH Prereqs.runtimeconfig.dev.json
/SWGOH Prereqs/bin/Debug/netcoreapp2.1/SWGOH Prereqs.pdb
/SWGOH Prereqs/bin/Debug/netcoreapp2.1/SWGOH Prereqs.dll
/SWGOH Prereqs/bin/Debug/netcoreapp2.1/SWGOH Prereqs.deps.json
/SWGOH Prereqs/bin/Debug/netcoreapp2.1
/.vs/SWGOH Prereqs/v15/Server/sqlite3/storage.ide-wal
/.vs/SWGOH Prereqs/v15/Server/sqlite3/storage.ide-shm
/.vs/SWGOH Prereqs/v15/Server/sqlite3/storage.ide
/.vs/SWGOH Prereqs/v15/Server/sqlite3/db.lock
/.vs/SWGOH Prereqs/v15/.suo
/.vs/config/applicationhost.config
/SWGOH Prereqs/obj/Release/netcoreapp2.1
/SWGOH Prereqs/Properties/PublishProfiles
/SWGOH Prereqs/obj/netcoreapp2.1/win-x64/host
/SWGOH Prereqs/obj/publish/win-x64
/SWGOH Prereqs/SWGOH GuildBot.csproj.user
/SWGOH Prereqs/bin/Release/netcoreapp2.1
/SWGOH Prereqs/Logs
/SWGOH Prereqs/Properties
/SWGOH Prereqs/guildstats6.json
/SWGOH Prereqs/guildstats5.json
/SWGOH Prereqs/guildstats4.json
/SWGOH Prereqs/guildstats3.json
/SWGOH Prereqs/guildstats2.json
/SWGOH Prereqs/guildstats1.json
/SWGOH Prereqs/guildstats0.json
/SWGOH Prereqs/guildstats.json
/SWGOH Prereqs/test.json
/SWGOH Prereqs/SWGOH GuildBot.xml
/SWGOH Prereqs/swgoh bot test.txt
/SWGOH Prereqs/spacedonkey.txt
/SWGOH Prereqs/players.json
/SWGOH Prereqs/database.cs
/SWGOH Prereqs/Data/defID.txt
*.txt
/SWGOH Prereqs/Users.cs
/SWGOH Prereqs/bin/Debug/netcoreapp2.0
/SWGOH Prereqs/obj/Debug/netcoreapp2.0
/SWGOH Prereqs/obj/publish/linux-arm
/SWGOH Prereqs/obj/netcoreapp2.1/linux-arm/host
*.cache
*.json
/.vs/SWGOH Prereqs/DesignTimeBuild/.dtbcache.v2
/.vs/SWGOH Prereqs/v16/Server/sqlite3/db.lock
/.vs/SWGOH Prereqs/v16/Server/sqlite3/storage.ide
/.vs/SWGOH Prereqs/v16/Server/sqlite3/storage.ide-shm
/.vs/SWGOH Prereqs/v16/Server/sqlite3/storage.ide-wal
/.vs/SWGOH Prereqs/v16/.suo
/SWGOH Prereqs/Pi version/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/SWGOH Prereqs/Pi version/runtimes/unix/lib/netcoreapp2.1/System.Security.Principal.Windows.dll
*.dll
/SWGOH Prereqs/Pi version/System.Security.Cryptography.Native.OpenSsl.so
/SWGOH Prereqs/Pi version/System.Security.Cryptography.Native.OpenSsl.a
/SWGOH Prereqs/Pi version/System.Net.Security.Native.so
/SWGOH Prereqs/Pi version/System.Net.Security.Native.a
/SWGOH Prereqs/Pi version/System.Net.Http.Native.so
/SWGOH Prereqs/Pi version/System.Net.Http.Native.a
/SWGOH Prereqs/Pi version/System.Native.so
/SWGOH Prereqs/Pi version/System.Native.a
/SWGOH Prereqs/Pi version/System.IO.Compression.Native.so
/SWGOH Prereqs/Pi version/System.IO.Compression.Native.a
/SWGOH Prereqs/Pi version/System.Globalization.Native.so
/SWGOH Prereqs/Pi version/SWGOH GuildBot.xml
/SWGOH Prereqs/Pi version/SWGOH GuildBot.pdb
/SWGOH Prereqs/Pi version/SWGOH GuildBot
/SWGOH Prereqs/Pi version/libsosplugin.so
/SWGOH Prereqs/Pi version/libsos.so
/SWGOH Prereqs/Pi version/libmscordbi.so
/SWGOH Prereqs/Pi version/libmscordaccore.so
/SWGOH Prereqs/Pi version/libhostpolicy.so
/SWGOH Prereqs/Pi version/libhostfxr.so
/SWGOH Prereqs/Pi version/libdbgshim.so
/SWGOH Prereqs/Pi version/libcoreclrtraceptprovider.so
/SWGOH Prereqs/Pi version/libcoreclr.so
/SWGOH Prereqs/Pi version/libclrjit.so
