################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWGOH Prereqs/bin/Debug/netcoreapp2.1/config.json
